In [1]:
import numpy as np
import pandas as pd

In [8]:
PendingBR = pd.DataFrame({"Borrow Return": [100, 200, 300], "Ric": ["GOOG", "AAPL", "MSFT"]})
PendingBR.head()

   Borrow Return   Ric
0            100  GOOG
1            200  AAPL
2            300  MSFT

In [9]:
data1 = pd.DataFrame({"Symbol": ["AAPL", "BABA", "PDD"], "Col2": [5, 10, 15], "Col3": [6, 7, 8], "BR to add": np.nan})
data1.head()

  Symbol  Col2  Col3  BR to add
0   AAPL     5     6        NaN
1   BABA    10     7        NaN
2    PDD    15     8        NaN

In [13]:
data1 = data1.merge(PendingBR[["Borrow Return", "Ric"]], left_on="Symbol", right_on="Ric", how="left")
data1.head()

  Symbol  Col2  Col3  BR to add  Borrow Return   Ric
0   AAPL     5     6        NaN          200.0  AAPL
1   BABA    10     7        NaN            NaN   NaN
2    PDD    15     8        NaN            NaN   NaN

In [14]:
data1["BR to add"] = data1["Borrow Return"]
data1.drop(columns=["Borrow Return", "Ric"], inplace=True)
data1.head()

  Symbol  Col2  Col3  BR to add  Borrow Return
0   AAPL     5     6      200.0          200.0
1   BABA    10     7        NaN            NaN
2    PDD    15     8        NaN            NaN